.navbar {
    background-color: black;
    height: 80px;
    overflow: hidden;
    padding: '10px';
    width: 100%;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    float: left;
    font-size: calc(10px + 1vmin);
}

.nav-links li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    color: red;
}

@media (max-width: 600px) {
    .navbar {
    flex-direction: column;
    align-items: center;
    }
}